body
{
	padding:0px;
	margin:0px;
	background: #444455;
}
.bg
{
	margin:0px;
	height: 100%;
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center; 
}
.menu
{
	width: 25%;
	height: 90%;

	margin: auto;
	
	background: #fafafa;

	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: #bcbcbc;

	box-shadow: 0px 0px 40px #222233;

	min-width: 400px;
	min-height: 400px;
	max-height: 500px;
	
	text-align: center;
}

#leftTexts{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.play
{
	cursor:pointer;
	color: #515151;	
	font-family: "arial";
	font-size: 32pt;
	user-select: none;
	margin:auto;
	margin-top: 4%;
	background: transparent;
	
	width: 40%;

	border:solid 1px black;

	font-size: 16pt;

	padding: 5% 10%;


	transition: padding 0.2s;
}


.play:active
{
	background: coral !important;
}

.play:hover
{
	background: rgba(228, 176, 127, 0.3);
	padding: 6% 20%;

}

#join::after
{
	content:"Join game!";
}

#create::after
{
	content:"Create game!";
}
.names{
	padding: 8px;
	text-align:left; 
	margin-bottom: 6%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.title
{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	color: #515151;	
	font-family: "arial";
	font-size: 32pt;
	margin-top: 11%;
	margin-bottom: 7%;
}

ul
{
	list-style-type: none;
}
li
{
	margin: 25px;
	float:left;
}
.how
{
	margin-top:4%;
	font-size:18;
	text-decoration: underline;
	font-style:italic;
	color: #bababa;
}


a:visited,a:active
{
	color: #bababa;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: lavender;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

#myBtn
{
	cursor: pointer;
}
#myBtn::after
{
	content: "How to play?";
}

@media screen and (max-width: 500px),  screen and (max-height: 300px){
	.play
	{
		display:none;
	}
	
	.names
	{
		display:none;
	}
	
	.menu
	{
		height: 300px; 
		min-height: 300px;
	}

	#rules
	{
		display: none;
	}
	.cont
	{
		margin:auto;	
		width: 100px;
		margin-top: 100px;;
		padding: 16px 100px 16px 100px;
	}
	#myBtn::after
	{
	 	position: relative;
		top: -60px;	
		content: "Where is the play button?";
	}
	.modal-content::after
	{
		display: block;
		white-space: pre;
		content: "Your screensize does not match the requirements for this game. \A\A Please try another device.";
	}
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.textbox{
	border: solid #515151 1px;
	display: flex;
	padding: 10px;
	width: 65%;
}

.textbox span{
	user-select: none;
	font-family: arial;
	color: #444455;
	font-size: 1em;
	margin-right: 5px;
	font-weight: bold;
}

.textbox input{
	border: none;
	background: transparent;
}

.textbox input:focus{
	border: none;
	outline: none;
}

.textbox:hover, .textbox:focus-within{
	box-shadow: 4px 4px #555577;
}
.textbox:hover span{
	text-shadow: 0.5px 0.5px #333344;
}

